<?xml version="1.0" encoding="UTF-8"?>
<web_1:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web_1="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web_1="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>flyaway</display-name>
  <web_1:welcome-file-list>
    <web_1:welcome-file>index.html</web_1:welcome-file>
    <web_1:welcome-file>index.jsp</web_1:welcome-file>
    <web_1:welcome-file>index.htm</web_1:welcome-file>
    <web_1:welcome-file>default.html</web_1:welcome-file>
    <web_1:welcome-file>default.jsp</web_1:welcome-file>
    <web_1:welcome-file>default.htm</web_1:welcome-file>
  </web_1:welcome-file-list>
  <web_1:servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <web_1:servlet-name>LoginController</web_1:servlet-name>
    <web_1:servlet-class>com.flyaway.controller.LoginController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>LoginController</web_1:servlet-name>
    <web_1:url-pattern>/LoginController</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:listener>
    <listener-class>com.flyaway.init.FlyAwayServletContextListner</listener-class>
  </web_1:listener>
  <web_1:servlet>
    <description></description>
    <display-name>CityAirportController</display-name>
    <web_1:servlet-name>CityAirportController</web_1:servlet-name>
    <web_1:servlet-class>com.flyaway.controller.CityAirportController</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>CityAirportController</web_1:servlet-name>
    <web_1:url-pattern>/CityAirportController</web_1:url-pattern>
  </web_1:servlet-mapping>
</web_1:web-app>